@font-face {
  font-family: "Aileron-Bold";
  src: url("fonts/Aileron-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aileron-Italic";
  src: url("fonts/Aileron-Italic.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aileron-Light";
  src: url("fonts/Aileron-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aileron-Thin";
  src: url("fonts/Aileron-Thin.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aileron-Regular";
  src: url("fonts/Aileron-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

body {
  padding: 0 80px;
}

.wrapper {
  text-align: center;
  max-width: 1040px;
  height: 100vh;
  margin: 0 auto;
}

.topHeader .container-fluid {
  height: 64px;
}
.topHeader .container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.topHeader .container-fluid .left {
  font-size: 2em;
  font-family: Aileron-Light;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 64px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.topHeader .container-fluid .left div:not(:nth-child(1)) {
  margin-left: 1px;
}
.topHeader .container-fluid .left span {
  margin-left: 9px;
  color: #7fc246;
  padding-right: 5px;
}
.topHeader .container-fluid .left .urban span {
  border-left: 1px solid gray;
  padding-left: 11px;
}
.topHeader .container-fluid .right {
  padding: 0;
  position: relative;
  text-align: right;
  list-style-type: none;
}
.topHeader .container-fluid .right a {
  line-height: 64px;
  font-size: 2em;
  font-family: Aileron-Light;
  color: #838383;
  text-decoration: none;
}
.topHeader .container-fluid .right .dropdown-toggle::after {
  display: none;
}
.topHeader .container-fluid .right #login-dp {
  min-width: 268px;
  padding: 17px 14px 0;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  right: 0;
  left: unset;
  -webkit-box-shadow: 0px 2px 20px -7px;
  box-shadow: 0px 2px 20px -7px;
}
.topHeader .container-fluid .right ul#login-dp::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #ffffff;
  z-index: 0;
  top: -7px;
  right: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.topHeader .container-fluid .right ul#login-dp::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #ffffff;
  z-index: 0;
  top: -8px;
  right: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px gray solid;
}
.topHeader .container-fluid .right .form-group input {
  height: 3.8rem;
  border-radius: 5px;
}
.topHeader .container-fluid .right .form-group .form-control {
  font-size: 1.4em;
  font-family: Aileron-Regular;
}
.topHeader .container-fluid .right .form-group .form-control:focus {
  color: #55595c;
  background-color: #fff;
  border-color: #7fc246;
  outline: 0;
}
.topHeader .container-fluid .right .form-group button {
  margin-top: 10px;
  height: 3.8rem;
  background: #7fc246;
  border-radius: 5px;
  border-color: #7fc146;
  font-size: 1.6em;
  font-family: Aileron-Bold;
}
.topHeader .container-fluid .right .form-group .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.topHeader .container-fluid .right .form-group .checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.1em;
  font-family: Aileron-Regular;
  color: #808080bf;
  margin: unset;
}
.topHeader .container-fluid .right .form-group .checkbox input[type=checkbox] {
  height: 23px !important;
  margin-right: 8px;
}
.topHeader .container-fluid .right .form-group .checkbox .help-block.text-right a {
  display: inline-block;
  font-size: 1.1em;
  font-family: Aileron-Bold;
  color: #7fc246;
  line-height: 16px;
}

.topHeader::after {
  content: "";
  border-bottom: 1px solid #80808059;
  width: 100%;
  position: absolute;
  left: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.main .col1 {
  max-width: 318px;
  text-align: right;
}
.main .col1 .wraptext {
  margin-top: 5rem;
}
.main .col1 .text1, .main .col1 .text2 {
  line-height: 40px;
  font-size: 5em;
  font-family: Aileron-Thin;
  width: auto;
}
.main .col1 .text1 span, .main .col1 .text2 span {
  display: block;
  color: #7fc246;
}
.main .col1 .line {
  border-bottom: 1.5px solid #80808024;
  width: 83px;
  display: inline-block;
  margin-top: 2.2rem;
  margin-bottom: 1.7rem;
}
.main .col1 .text3 {
  margin-top: 2.6rem;
  padding-left: 45px;
  display: inline-block;
  font-size: 1.4em;
  font-family: Aileron-Italic;
  color: #777777;
}
.main .img {
  position: absolute;
  top: 21px;
  right: 52.5%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  z-index: 1;
}
.main .col2 {
  width: 308px;
  text-align: right;
}
.main .col2 .form-row {
  margin-top: 5.8rem;
  color: #a8a5a5 !important;
}
.main .col2 .form-row h1 {
  font-size: 2em;
  font-family: Aileron-Light;
  margin-bottom: 1.7rem;
}
.main .col2 .form-row h1 span {
  color: #7fc246;
  padding-right: 5px;
}
.main .col2 .form-row .form-control {
  font-size: 1.4em;
  font-family: Aileron-Regular;
  font-size: 1.4em;
  color: #a8a5a5;
  margin-top: 0.8rem;
  border-radius: 8px;
  height: 3.6rem;
  line-height: 3.6rem;
  padding-left: 1.6rem;
}
.main .col2 .form-row .form-control:focus {
  color: #a8a5a5;
  background-color: #fff;
  border-color: #7fc246;
  outline: 0;
}
.main .col2 .btn {
  margin-top: 0.7rem;
  height: 35px;
  line-height: normal;
  border-radius: 5px;
  font-size: 1.6em;
  font-family: Aileron-Bold;
  color: #ffffff;
}
.main .col2 .btn-success {
  background-color: #7fc246;
  border-color: #629437;
}
.main .col2 .blockApp {
  margin-top: 7.2rem;
}
.main .col2 .blockApp h5 {
  font-size: 1.2em;
  font-family: Aileron-Bold;
  color: #aeadad;
}
.main .col2 .blockApp h5 span {
  color: #838383;
}
.main .col2 .blockApp .logo {
  margin-top: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.main .col2 .blockApp .logo .google {
  margin-left: 1rem;
}
.main .col2 .blockApp .logo img {
  max-width: 100%;
  height: auto;
}
.main .col2 .copyright {
  font-size: 1.1em;
  font-family: Aileron-Regular;
  position: absolute;
  right: 0;
  bottom: -46px;
  z-index: 9;
  -webkit-transform: translateY(19rem);
  -ms-transform: translateY(19rem);
  transform: translateY(19rem);
}
.main .col2 .copyright span {
  color: #7fc246;
  border-left: 1px solid gray;
  padding-left: 10px;
  margin-left: 6px;
}

@media (max-width: 1114px) {
  .img {
    display: none;
  }

  .main .copyright {
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}
* {
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  .topHeader .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .topHeader .container-fluid .right {
    padding: 0;
    position: relative;
    text-align: right;
    margin: 0 auto;
  }
  .topHeader .container-fluid .right #login-dp {
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .topHeader .container-fluid .right ul#login-dp::after {
    right: 125px;
  }
  .topHeader .container-fluid .right ul#login-dp::before {
    right: 125px;
  }

  .main {
    margin-top: 64px;
  }
  .main .col1 {
    text-align: left;
    padding-right: 14px;
  }
  .main .col1 .text3 {
    padding-left: unset;
  }
  .main .col1 .text1, .main .col1 .text2 {
    font-size: 3em;
  }
  .main .col1 .text1 span, .main .col1 .text2 span {
    display: inline;
  }
  .main .col1 .line {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .topHeader .right a {
    width: 100%;
    text-align: center;
  }

  .main {
    margin-top: 64px;
  }
}
@media (max-width: 630px) {
  .topHeader .urban span {
    border-left: none !important;
  }

  .topHeader::after {
    top: 194px;
    border-bottom: 1px dashed gray;
  }

  .main {
    margin-top: 128px;
  }
  .main .col1 {
    display: none;
  }
  .main .col2 {
    margin: 0 auto;
  }
  .main .col2 .form-row h1 {
    text-align: center;
  }
  .main .col2 .copyright {
    right: 50%;
    bottom: -46px;
    -webkit-transform: translate(50%, 19rem);
    -ms-transform: translate(50%, 19rem);
    transform: translate(50%, 19rem);
    text-align: center;
  }
}
@media (max-width: 402px) {
  body {
    padding: 0 10px;
  }
}